In [4]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import matplotlib.ticker as ticker
import numpy as np
import altair as alt
sns.set()

In [5]:
all_df = pd.read_csv("Phase5_Data.csv")

In [6]:
all_df.head(5)

,Subject or Topic,Number of People,Medium of Conversation,Mood after the conversation,Extroversion Scale,Submitter,Day of Week,General Category of Person
0,Wine,3+,In Person,8,4,Erin,Friday,Friend
1,Golf,3,In Person,10,4,Erin,Friday,Friend
2,Plans,1,In Person,8,4,Erin,Friday,Friend
3,Dogs at the park,2,In Person,8,4,Erin,Friday,Stranger
4,"School, movies",3,Text Chat,8,4,Jessie,Friday,Friend